$deep-blue: #173771;
$footer:#092657;
$yellow:#F8B551;
$middle-blue:#24BCFF;
$light-blue:#e0f6ff;
$green:#2AD151;
$red:#E21414;
$light-red:#F25544;
$black:#333333;
$light-black:#999999;
$gray:#B4B4B4;
$fog:#000000;
$opacity:0.4;
$border:#E9E9E9;
$grey-background:#F7F7F7;
$blue-text:#9BACC4;
